body {
  background-color: #14424d;
}

.main {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}

.icons {
  display: flex;
  justify-content: center;
}

.p-trans {
  font-size: 30px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #14424d;
  height: 100px;
  width: 67%;
  margin: auto;
  text-align: center;
}

.transcript-text {

  font-size: 40px;
  font-weight: 600;
}

.reset-btn {
  height: 50px;
  width: 75px;
  padding-left: 15px;

}

.slider {
  display: flex;
  justify-content: center;
}

.mic {
  size: 4em;
}

.mic-animation {
  background-color: rgb(59, 203, 2);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mic-animation:active::before {
  content: "";
  position: absolute;
  width: calc(100%+40px);
  height: calc(100%+40px);
  border: 2px solid rgb(59, 203, 2);
  border-radius: 50%;
  animation: pulseeffects 1.5s linear infinite;
  z-index: -2;
}

.mic-animation:active::after {
  content: "";
  position: absolute;
  width: calc(100%+40px);
  height: calc(100%+40px);
  border: 2px solid rgb(59, 203, 2);
  border-radius: 50%;
  animation: pulseeffects 1.5s linear infinite;
  animation-delay: 0.4s;
  z-index: -2;


}

@keyframes pulseeffects {
  0% {
    transform: scale(10);
    opacity: 0;
  }

  50% {
    transform: scale(20);
    opacity: 1;
  }

  100% {
    transform: scale(30);
    opacity: 0;
  }
}